.Dashboard {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: var(--white);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 999;

  &.visible {
    display: grid;
  }

  div.header {
    padding: 10px;
    box-sizing: border-box;
  }

  div.content {
    padding: 10px;
    box-sizing: border-box;
  }

  div.actions {
    button.close {
      width: 200px;
      height: 45px;
      color: var(--white);
      background-color: var(--primary);
    }
  }
}
